<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
    <connectionStrings>
        <!--<add name="strConnection" connectionString="Server=tcp:zendadb.database.windows.net,1433;Initial Catalog=QLNhaSach;Persist Security Info=False;User ID=plaster502;Password=Zenda2411;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>-->
        <add name="strConnection" connectionString="Database=QLNhaSach;Server=THUC-PC\SQLEXPRESS;Uid=plaster502;Pwd=Zenda2411; pooling=false;"/>
        <!--<add name="strConnection" connectionString="workstation id=QLNhaSach.mssql.somee.com;packet size=4096;user id=plaster502_SQLLogin_1;pwd=txhzdzheqs;data source=QLNhaSach.mssql.somee.com;persist security info=False;initial catalog=QLNhaSach"/>-->
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BaoGia" />
                <binding name="DonDatHang" />
                <binding name="NhanNgonNgu" />
                <binding name="NhomSanPham" />
                <binding name="DonViTinh" />
                <binding name="DonVi" />
                <binding name="SanPham" />
                <binding name="PhieuThu" />
                <binding name="KhachHang" />
                <binding name="HoaDon" />
                <binding name="PhieuXuat" />
                <binding name="PhieuNhap" />
                <binding name="NhanVien" maxReceivedMessageSize="2147483647"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/ERPService/ERPService.svc/BaoGia"
                binding="basicHttpBinding" bindingConfiguration="BaoGia" contract="BanHangService.IBaoGia"
                name="BaoGia" />
            <endpoint address="http://localhost/ERPService/ERPService.svc/DonDatHang"
                binding="basicHttpBinding" bindingConfiguration="DonDatHang"
                contract="BanHangService.IDonDatHang" name="DonDatHang" />
            <endpoint address="http://localhost/ERPService/ERPService.svc/NhanNgonNgu"
                binding="basicHttpBinding" bindingConfiguration="NhanNgonNgu"
                contract="BanHangService.INhanNgonNgu" name="NhanNgonNgu" />
            <endpoint address="http://localhost/ERPService/ERPService.svc/NhomSanPham"
                binding="basicHttpBinding" bindingConfiguration="NhomSanPham"
                contract="BanHangService.INhomSanPham" name="NhomSanPham" />
            <endpoint address="http://localhost/ERPService/ERPService.svc/DonViTinh"
                binding="basicHttpBinding" bindingConfiguration="DonViTinh"
                contract="BanHangService.IDonViTinh" name="DonViTinh" />
            <endpoint address="http://localhost/ERPService/ERPService.svc/DonVi"
                binding="basicHttpBinding" bindingConfiguration="DonVi" contract="BanHangService.IDonVi"
                name="DonVi" />
            <endpoint address="http://localhost/ERPService/ERPService.svc/SanPham"
                binding="basicHttpBinding" bindingConfiguration="SanPham"
                contract="BanHangService.ISanPham" name="SanPham" />
            <endpoint address="http://localhost/ERPService/ERPService.svc/PhieuThu"
                binding="basicHttpBinding" bindingConfiguration="PhieuThu"
                contract="BanHangService.IPhieuThu" name="PhieuThu" />
            <endpoint address="http://localhost/ERPService/ERPService.svc/KhachHang"
                binding="basicHttpBinding" bindingConfiguration="KhachHang"
                contract="BanHangService.IKhachHang" name="KhachHang" />
            <endpoint address="http://localhost/ERPService/ERPService.svc/HoaDon"
                binding="basicHttpBinding" bindingConfiguration="HoaDon" contract="BanHangService.IHoaDon"
                name="HoaDon" />
            <endpoint address="http://localhost/ERPService/ERPService.svc/PhieuXuat"
                binding="basicHttpBinding" bindingConfiguration="PhieuXuat"
                contract="BanHangService.IPhieuXuat" name="PhieuXuat" />
            <endpoint address="http://localhost/ERPService/ERPService.svc/PhieuNhap"
                binding="basicHttpBinding" bindingConfiguration="PhieuNhap"
                contract="BanHangService.IPhieuNhap" name="PhieuNhap" />
            <endpoint address="http://localhost/ERPService/ERPService.svc/NhanVien"
                binding="basicHttpBinding" bindingConfiguration="NhanVien"
                contract="BanHangService.INhanVien" name="NhanVien" />
        </client>
    </system.serviceModel>
</configuration>
