<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
    <connectionStrings>
        <!--<add name="strConnection" connectionString="Server=tcp:zendadb.database.windows.net,1433;Initial Catalog=QLNhaSach;Persist Security Info=False;User ID=plaster502;Password=Zenda2411;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>-->
        <add name="strConnection" connectionString="Database=QLNhaSach;Server=THUC-PC\SQLEXPRESS;Uid=plaster502;Pwd=Zenda2411; pooling=false;"/>
        <!--<add name="strConnection" connectionString="workstation id=QLNhaSach.mssql.somee.com;packet size=4096;user id=plaster502_SQLLogin_1;pwd=txhzdzheqs;data source=QLNhaSach.mssql.somee.com;persist security info=False;initial catalog=QLNhaSach"/>-->
    </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBaoGia" />
                <binding name="BasicHttpBinding_IDonDatHang" />
                <binding name="BasicHttpBinding_IDonVi" />
                <binding name="BasicHttpBinding_IDonViTinh" />
                <binding name="BasicHttpBinding_IHoaDon" />
                <binding name="BasicHttpBinding_IKhachHang" />
                <binding name="BasicHttpBinding_INhanNgonNgu" />
                <binding name="BasicHttpBinding_INhomSanPham" />
                <binding name="BasicHttpBinding_IPhieuNhap" />
                <binding name="BasicHttpBinding_IPhieuThu" />
                <binding name="BasicHttpBinding_IPhieuXuat" />
                <binding name="BasicHttpBinding_INhanVien" maxReceivedMessageSize="2147483647" />
                <binding name="BasicHttpBinding_ISanPham" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:39242/Host/BanHangService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBaoGia"
                contract="BanHangService.IBaoGia" name="BasicHttpBinding_IBaoGia" />
            <endpoint address="http://localhost:39242/Host/BanHangService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDonDatHang"
                contract="BanHangService.IDonDatHang" name="BasicHttpBinding_IDonDatHang" />
            <endpoint address="http://localhost:39242/Host/BanHangService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDonVi"
                contract="BanHangService.IDonVi" name="BasicHttpBinding_IDonVi" />
            <endpoint address="http://localhost:39242/Host/BanHangService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDonViTinh"
                contract="BanHangService.IDonViTinh" name="BasicHttpBinding_IDonViTinh" />
            <endpoint address="http://localhost:39242/Host/BanHangService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHoaDon"
                contract="BanHangService.IHoaDon" name="BasicHttpBinding_IHoaDon" />
            <endpoint address="http://localhost:39242/Host/BanHangService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IKhachHang"
                contract="BanHangService.IKhachHang" name="BasicHttpBinding_IKhachHang" />
            <endpoint address="http://localhost:39242/Host/BanHangService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INhanNgonNgu"
                contract="BanHangService.INhanNgonNgu" name="BasicHttpBinding_INhanNgonNgu" />
            <endpoint address="http://localhost:39242/Host/BanHangService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INhomSanPham"
                contract="BanHangService.INhomSanPham" name="BasicHttpBinding_INhomSanPham" />
            <endpoint address="http://localhost:39242/Host/BanHangService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPhieuNhap"
                contract="BanHangService.IPhieuNhap" name="BasicHttpBinding_IPhieuNhap" />
            <endpoint address="http://localhost:39242/Host/BanHangService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPhieuThu"
                contract="BanHangService.IPhieuThu" name="BasicHttpBinding_IPhieuThu" />
            <endpoint address="http://localhost:39242/Host/BanHangService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPhieuXuat"
                contract="BanHangService.IPhieuXuat" name="BasicHttpBinding_IPhieuXuat" />
            <endpoint address="http://localhost:39242/Host/BanHangService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INhanVien"
                contract="BanHangService.INhanVien" name="BasicHttpBinding_INhanVien" />
            <endpoint address="http://localhost:39242/Host/BanHangService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISanPham"
                contract="BanHangService.ISanPham" name="BasicHttpBinding_ISanPham" />
        </client>
    </system.serviceModel>
</configuration>
